service: serverless-direct-avenue

frameworkVersion: '4'

plugins:
  - serverless-offline
  - serverless-webpack

provider:
  name: aws
  runtime: nodejs18.x

build:
  esbuild: false

functions:
  main:
    handler: src/main.handler
    events:
      - http:
          method: ANY
          path: /
      - http:
          method: ANY
          path: '{proxy+}'

custom:
  webpack:
    webpackConfig: './webpack.config.js'
    includeModules: true
  serverless-offline:
    reloadHandler: true
    useChildProcesses: true
    noPrependStageInUrl: true
